/* Overll wrapper*/
.card-wrapper {
    min-height: 90vh;
    margin: 2.625rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    max-width: 1440px;
    min-width: 375px;
    background: $veryLightGray;
    grid-gap: 1.25rem;

    grid-template-areas: "header header header "
                        "supervisor teamBuilder calculator"
                        "supervisor karma calculator"
;
    
    /*Mobile Styles*/
    @media all and (max-width:800px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "header header"
                            "supervisor teamBuilder"
                            "calculator karma" ;
    }

    @media all and (max-width:500px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header"
                            "supervisor"
                            "teamBuilder"
                            "karma" 
                            "calculator";
    }
}

/* Header info/intro */
.header {
    grid-area: header;
   justify-self: center;
   color: $veryDarkBlue;
}
.hLine1 {
    font-weight: 200;
    font-size: 2rem;
    margin-bottom: -1.625rem;
    text-align: center;
}
.hLine2 {
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
}
.hText{
    font-weight: 200;
    text-align: center;
}

/*General cards styles*/
.cards {
    background: white;
    box-shadow: 6px 6px 21px $grayishBlue;
    border-radius: 0.375rem;
    padding: 1.625rem;

    .img {
        text-align: right;
    }

    .title {
        font-weight: 600;
        line-height: 0.125rem;
    }

    .subtext {
        font-weight: 200;
        padding-bottom: 2.0625rem;
    }

}

.supervisor {
    grid-area: supervisor;
    align-self: center;
    height: 15.625rem;
    border: 0px solid $cyan;
    border-top-width: 0.3125rem;
}

.teamBuilder {
    grid-area: teamBuilder;
    height: 15.625rem;
    border: 0px solid $red;
    border-top-width: 0.3125rem;
}

.karma {
    grid-area: karma;
    height: 15.625rem;
    border: 0px solid $orange;
    border-top-width: 0.3125rem;
}

.calculator {
    grid-area: calculator;
    align-self: center;
    height: 15.625rem;
    border: 0px solid $blue;
    border-top-width: 0.3125rem;
}

.attribution {
    font-size: small;
    font-weight: 100;
    color: $grayishBlue;
    a {
        color: $grayishBlue;
        text-decoration: none;
    }
    /*mobile*/
    @media all and (max-width:800px) {
        text-align: center;
    }
}

